@import "../../library";

// font-sizes

.header {
  font-family: Roboto, sans-serif;
  font-size: 40px;
}

.wrapper-layout {
  align-items: center;
  display: flex;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  text-transform: capitalize;
}

.text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.text-width {
  min-width: fit-content;
}

.wrapper-square {
  border: 2px solid $color-dark;
  padding: 0 10px;
}

.wrapper-line {
  background-color: $color-dark;
  height: 2px;
  width: 100%;
}

.bold {
  font-weight: 700;
}


@media only screen and (max-width: 600px) {
  .header {
    font-size: 28px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }
}