@import "../../library";

// utilities

.clickable {
  cursor: pointer;
}

// theme

.dark {
  color: $color-light;
}

.light {
  color: $color-dark;
}

// font-sizes

.header {
  font-family: Roboto, sans-serif;
  font-size: 40px;
}

.wrapper-layout {
  align-items: center;
  display: flex;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

.text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.text-width {
  min-width: fit-content;
}

// paddings

.margin-subtitle {
  margin-bottom: 8px;
}

.margin-text {
  margin-bottom: 15px;
}

// Others

.wrapper-square {
  // theme
  &.light {
    border: 2px solid $color-dark;
  }
  &.dark {
    border: 2px solid $color-light;
  }
  padding: 0 10px;
}

.wrapper-line {
  // theme
  &.dark {
    background-color: $color-light;
  }

  &.light {
    background-color: $color-dark;
  }

  height: 2px;
  width: 100%;
}

.bold {
  font-weight: 700;
}


@media only screen and (max-width: 600px) {
  .header {
    font-size: 28px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }
}