@import "../../library";

.layout {
  // theme
  &.dark {
    color: $color-dark;
  }

  &.light {
    color: $color-light;
  }

  display: flex;
  margin: 0 15px;
  position: relative;
  width: 570px;
}

.texts {
  // theme
  &.dark {
    background-color: $color-dark;
  }

  &.light {
    background-color: $color-light;
  }
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  padding: 5px 40px;
}

.photo {
  // theme
  &.dark {
    background-color: $color-dark;
  }

  &.light {
    background-color: $color-light;
  }

  border-radius: 130px;
  padding: 10px;
  position: absolute;
  right: 5px;
  transform: translate(0, -50%);
  top: 97px;
}