@import "../../library";


.footer-layout {
  display: flex;
  justify-content: center;
}

.footer-separator {
  align-self: center;
  background-color: $color-dark;
  justify-content: center;
  height: 3px;
  width: 40px;
}