@import "../../library";


.footer-layout {
  display: flex;
  justify-content: center;
}

.footer-separator {
  // theme
  &.dark {
    background-color: $color-dark;
  }
  &.light {
    background-color: $color-light;
  }

  align-self: center;
  justify-content: center;
  height: 3px;
  width: 40px;
}