// colors
$color-light: #DEC699;
$color-dark: #181C14;

// font-sizes

.header {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700;

  @include s {
    font-size: 28px;
  }
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;

  @include s {
    font-size: 24px;
  }
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;

  @include s {
    font-size: 20px;
  }
}

.text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;

  @include s {
    font-size: 16px;
  }
}